@model List<KeyValuePair<string, string>>

@if (Model != null)
{
    string groupAndPosition = @ViewData["PositionPlaceholder"].ToString();
    foreach (var keyValuePair in Model)
    {
        if (keyValuePair.Key == groupAndPosition)
        {
            @*<li class="game game-top winner">*@
                @keyValuePair.Value
                @*<span>84</span>*@
            @*</li>*@
            return;
        }
    }
}
@ViewData["PositionPlaceholder"]