@using Twest2.Helpers

@model PlayoffGraphData
}

<li class="static_spacer"><p class="matchName">Match 1</p></li>

<li class="game game-top winner">
    @{ ViewData["PositionPlaceholder"] = "B8";}
    <partial name="_GroupPlayerInPlayoffGraph" model="Model.convertedGroupResults" view-data="ViewData" />
    <span>84</span>
</li>
<li class="game game-spacer"></li>
<li class="game game-bottom ">
    @{ ViewData["PositionPlaceholder"] = "C1";}
    <partial name="_GroupPlayerInPlayoffGraph" model="Model.convertedGroupResults" view-data="ViewData" />
    <span>72</span>
</li>