@model List<List<string>>

<table class="table table-bordered table-striped bg-dark" style="width:20%;margin: 0 50px 0 0;">
    <thead>
        <tr>
            <th>
                Nr
            </th>
            <th>
                Group A
            </th>

        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;
        }
        @foreach (var member in Model[0])
        {
            <tr>
                <td width="3%">
                    @counter
                </td>
                <td width="20%">
                    @member
                </td>
            </tr>
            counter++;
        }
    </tbody>
</table>
