@using Twest2.Helpers

@model GroupViewModel

@{
    ViewData["Title"] = "Group";
}
<body>
    <div class="container">
        <span style="color:red">
            TODO:
            <br />
            - when tournament ends (there is a winner) - delete groupWins column in PlayersDB
            <br />
            - cache database!!!!!!
            <br />
            - add method which would stop tournamen tand hide group plays
            <br />
            - add use roles, so that only admins can start group plays, start playoffs
            <br />
            - might this be a p
            <br />
            - //PROBLEM, WHAT IF EQUAL matches, how positioning works then?
        </span>
        <br />
        <div class="row pt-2">
            <div class="col-6">
                <h2 class="text-primary">
                    Groups
                </h2>
            </div>
            <div class="col-6 text-end">
                @if (Model.PlayoffStarted)
                {
                <button class="btn btn-secondary" style="background-color: #D0D0D0 " disabled>
                    Start Group Plays
                </button>
                <button class="btn btn-secondary" style="background-color: #D0D0D0 " disabled>
                    Start Play-offs
                </button>
                }

                else if (Model.GroupPlaysStarted)
                {
                    <button class="btn btn-secondary" style="background-color: #D0D0D0 " disabled>
                        Start Group Plays
                    </button>
                    <a class="btn btn-primary" asp-controller="Playoff" asp-action="Index">
                        Start Play-offs
                    </a>
                }
                else
                {
                    <a class="btn btn-primary" asp-controller="Group" asp-action="Index" asp-route-createGroupPlays=true>
                        <i class="bi bi-plus-circle"></i> &nbsp; Start Group Plays
                    </a>
                    <button class="btn btn-secondary" style="background-color: #D0D0D0 " disabled>
                        Start Play-offs
                    </button>
                }

            </div>
            <br />
            <br />

            @{ ViewData["GroupName"] = "A";}
            <partial name="_TableGroupPartial" model="Model.groupsABC[0]" view-data="ViewData" />
            @{ ViewData["GroupName"] = "B";}
            <partial name="_TableGroupPartial" model="Model.groupsABC[1]" view-data="ViewData" />
            @{ ViewData["GroupName"] = "C";}
            <partial name="_TableGroupPartial" model="Model.groupsABC[2]" view-data="ViewData" />

        </div>
        <br />
        <br />
        @if (Model.groupAPlays != null)
        {
            <div class="col-6">
                <h2 class="text-primary">
                    Group Plays
                </h2>
            </div>
            <div class="row pt-3">
                @{ ViewData["GroupName"] = "A";}
                <partial name="_TableGroupPlaysPartial" model="Model.groupAPlays" view-data="ViewData" />
                @{ ViewData["GroupName"] = "B";}
                <partial name="_TableGroupPlaysPartial" model="Model.groupBPlays" view-data="ViewData" />
                @{ ViewData["GroupName"] = "C";}
                <partial name="_TableGroupPlaysPartial" model="Model.groupCPlays" view-data="ViewData" />
            </div>
        }

    </div>
</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}