@using Twest2.Helpers

@*@model List<PlayoffMatch>*@
@{
    ViewData["Title"] = "Playoff";
}
<head>
    <link rel="stylesheet" href="~/css/tournamentBrackets.css" />
    <style>
        .round li {
            padding-left: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <br />
        <br />
        <div class="container" style="width:100%">
            <div class="row pt-2">
                <div class="col-6">
                    <h2 class="text-primary">Play-offs Matches</h2>
                </div>

                <div class="col-6 text-end">
                </div>
            </div>
            @*@{ ViewData["GroupName"] = "B8C1";}
            <partial name="_TablePlayoffsPartial" model="Model" view-data="ViewData" />
            @{ ViewData["GroupName"] = "B5C4";}
            <partial name="_TablePlayoffsPartial" model="Model" view-data="ViewData" />
            @{ ViewData["GroupName"] = "B6C3";}
            <partial name="_TablePlayoffsPartial" model="Model" view-data="ViewData" />
            @{ ViewData["GroupName"] = "B7C2";}
            <partial name="_TablePlayoffsPartial" model="Model" view-data="ViewData" />*@

        </div>
    </div>

</body>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}
