

@{
    ViewData["Title"] = "Playoffs";
}
<head>
    <link rel="stylesheet" href="~/css/tournamentBrackets.css" />
</head>
<body>
    <div class="container">
        <br />

        <div class="container" style="width:100%">
            <h2 class="text-primary">Play-offs</h2>
            <main id="tournament">
                <ul class="round roud1">
                    <li class="static_spacer">&nbsp;</li>

                    <li class="game game-top winner">Colo St <span>84</span></li>
                    <li class="game game-spacer"></li>
                    <li class="game game-bottom ">Missouri <span>72</span></li>
                    <br />
                    <br />
                    <li class="static_spacer">&nbsp;</li>

                    <li class="game game-top winner">Saint Louis <span>64</span></li>
                    <li class="game game-spacer">&nbsp;</li>
                    <li class="game game-bottom ">New Mexico St <span>44</span></li>
                    <br />
                    <br />
                    <br />
                    <li class="static_spacer">&nbsp;</li>

                    <li class="game game-top winner">Mich St <span>65</span></li>
                    <li class="game game-spacer">&nbsp;</li>
                    <li class="game game-bottom ">Valparaiso <span>54</span></li>

                    <li class="static_spacer">&nbsp;</li>
                    <br />
                    <br />
                    <li class="game game-top winner">Duke <span>73</span></li>
                    <li class="game game-spacer">&nbsp;</li>
                    <li class="game game-bottom ">Albany <span>61</span></li>
                </ul>
                <ul class="round round2">
                    <li class="static_spacer_half">&nbsp;</li>

                    <li class="game game-top winner">Colo St <span>84</span></li>
                    <li class="game game-spacer"></li>
                    <li class="game game-bottom ">Missouri <span>72</span></li>
                    <br />
                    <br />
                    <li class="static_spacer">&nbsp;</li>

                    <li class="game game-top winner">Saint Louis <span>64</span></li>
                    <li class="game game-spacer">&nbsp;</li>
                    <li class="game game-bottom ">New Mexico St <span>44</span></li>
                    <br />
                    <br />
                    <br />
                    <li class="static_spacer_half">&nbsp;</li>

                    <li class="game game-top winner">Mich St <span>65</span></li>
                    <li class="game game-spacer">&nbsp;</li>
                    <li class="game game-bottom ">Valparaiso <span>54</span></li>

                    <li class="static_spacer_half">&nbsp;</li>
                    <br />
                    <br />
                    <li class="game game-top winner">Duke <span>73</span></li>
                    <li class="game game-spacer">&nbsp;</li>
                    <li class="game game-bottom ">Albany <span>61</span></li>

                    <li class="static_spacer_half">&nbsp;</li>
                </ul>
                <ul class="round round3">
                    <li class="static_spacer">&nbsp;</li>

                    <li class="game game-top winner">Colo St <span>84</span></li>
                    <li class="game game-spacer"></li>
                    <li class="game game-bottom ">Missouri <span>72</span></li>
                    <br />
                    <br />
                    <li class="static_spacer">&nbsp;</li>

                    <li class="game game-top winner">Saint Louis <span>64</span></li>
                    <li class="game game-spacer">&nbsp;</li>
                    <li class="game game-bottom ">New Mexico St <span>44</span></li>
                    <br />
                    <br />
                    <br />
                    <li class="static_spacer_half">&nbsp;</li>

                    <li class="game game-top winner">Mich St <span>65</span></li>
                    <li class="game game-spacer">&nbsp;</li>
                    <li class="game game-bottom ">Valparaiso <span>54</span></li>
                    <br />
                    <br />
                    <li class="static_spacer_half">&nbsp;</li>

                    <li class="game game-top winner">Duke <span>73</span></li>
                    <li class="game game-spacer">&nbsp;</li>
                    <li class="game game-bottom ">Albany <span>61</span></li>
                </ul>
                <ul class="round">
                    <li class="spacer">&nbsp;</li>

                    <li class="game game-top winner">Lousville <span>82</span></li>
                    <li class="game game-spacer">&nbsp;</li>
                    <li class="game game-bottom ">Colo St <span>56</span></li>
                    <br />
                    <br />
                    <li class="spacer">&nbsp;</li>

                    <li class="game game-top winner">Oregon <span>74</span></li>
                    <li class="game game-spacer">&nbsp;</li>
                    <li class="game game-bottom ">Saint Louis <span>57</span></li>

                    <li class="spacer">&nbsp;</li>
                    <br />
                    <br />
                    <br />
                    <li class="game game-top ">Memphis <span>48</span></li>
                    <li class="game game-spacer">&nbsp;</li>
                    <li class="game game-bottom winner">Mich St <span>70</span></li>

                    <li class="spacer">&nbsp;</li>
                    <br />
                    <br />
                    <li class="game game-top ">Creighton <span>50</span></li>
                    <li class="game game-spacer">&nbsp;</li>
                    <li class="game game-bottom winner">Duke <span>66</span></li>

                    <li class="spacer">&nbsp;</li>
                </ul>
                <ul class="round">
                    <li class="spacer">&nbsp;</li>

                    <li class="game game-top winner">Lousville <span>77</span></li>
                    <li class="game game-spacer">&nbsp;</li>
                    <li class="game game-bottom ">Oregon <span>69</span></li>

                    <li class="spacer">&nbsp;</li>
                    <br />
                    <br />
                    <br />
                    <li class="game game-top ">Mich St <span>61</span></li>
                    <li class="game game-spacer">&nbsp;</li>
                    <li class="game game-bottom winner">Duke <span>71</span></li>

                    <li class="spacer">&nbsp;</li>
                </ul>
                <ul class="round">
                    <li class="spacer">&nbsp;</li>

                    <li class="game game-top winner">Lousville <span>85</span></li>
                    <li class="game game-spacer">&nbsp;</li>
                    <li class="game game-bottom ">Duke <span>63</span></li>

                    <li class="spacer">&nbsp;</li>

                </ul>
                <ul class="round">
                    <li class="game game-top winner">Lousville <span>85</span></li>
                </ul>
            </main>

        </div>
    </div>

</body>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}
