@using Twest2.Helpers

@model PlayoffGraphData

@{
    ViewData["Title"] = "Playoff Graph";
}
<head>
    <link rel="stylesheet" href="~/css/tournamentBrackets.css" />
</head>
<body>
    <div class="container" style="font-size: 12px">
        <br />
        <br />
        <div class="container" style="width:100%">
            <div class="row pt-2">
                <div class="col-6">
                    <h2 class="text-primary">Play-offs Graph</h2>
                </div>

                <span style="color:red">
                    TODO:
                    <br />
                    - add game winner with class
                </span>

                <div class="col-6 text-end">
                    @if (Model.groupPlaysStarted)
                    {
                        <a class="btn btn-primary" asp-controller="PlayoffGraph" asp-action="EndTournament">
                            End Tournament
                        </a>
                    }
                    else
                    {
                        <button class="btn btn-secondary" style="background-color: #D0D0D0 " disabled>
                            End Tournament
                        </button>
                    }
                </div>
            </div>
            <main id="tournament">
                <ul class="round roud1">
                    <br />
                    @{ ViewData["SpacerType"] = "static_spacer";}
                    <partial name="_PlayoffGraphRoundPartial" model="Model.playoffMatchesForGraph[1]" view-data="ViewData" />

                    <br />
                    <br />
                    <br />
                    <br />
                    @{ ViewData["SpacerType"] = "static_spacer_half";}
                    <partial name="_PlayoffGraphRoundPartial" model="Model.playoffMatchesForGraph[4]" view-data="ViewData" />

                    <br />
                    <br />
                    <br />
                    <br />
                    @{ ViewData["SpacerType"] = "static_spacer_half";}
                    <partial name="_PlayoffGraphRoundPartial" model="Model.playoffMatchesForGraph[3]" view-data="ViewData" />

                    <br />
                    <br />
                    <br />
                    <br />
                    @{ ViewData["SpacerType"] = "static_spacer_half";}
                    <partial name="_PlayoffGraphRoundPartial" model="Model.playoffMatchesForGraph[2]" view-data="ViewData" />
                </ul>
                <ul class="round round2">
                    <br />
                    <br />
                    @{ ViewData["SpacerType"] = "static_spacer_half";}
                    <partial name="_PlayoffGraphRoundPartial" model="Model.playoffMatchesForGraph[5]" view-data="ViewData" />

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    @{ ViewData["SpacerType"] = "static_spacer_half";}
                    <partial name="_PlayoffGraphRoundPartial" model="Model.playoffMatchesForGraph[8]" view-data="ViewData" />

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    @{ ViewData["SpacerType"] = "static_spacer_half";}
                    <partial name="_PlayoffGraphRoundPartial" model="Model.playoffMatchesForGraph[8]" view-data="ViewData" />

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    @{ ViewData["SpacerType"] = "static_spacer_half";}
                    <partial name="_PlayoffGraphRoundPartial" model="Model.playoffMatchesForGraph[6]" view-data="ViewData" />

                    <li class="static_spacer_half">&nbsp;</li>
                </ul>
                <ul class="round round3">

                    <br />
                    @{ ViewData["SpacerType"] = "static_spacer";}
                    <partial name="_PlayoffGraphRoundPartial" model="Model.playoffMatchesForGraph[9]" view-data="ViewData" />

                    <br />
                    <br />
                    <br />
                    <br />
                    @{ ViewData["SpacerType"] = "static_spacer_half";}
                    <partial name="_PlayoffGraphRoundPartial" model="Model.playoffMatchesForGraph[12]" view-data="ViewData" />

                    <br />
                    <br />
                    <br />
                    <br />
                    @{ ViewData["SpacerType"] = "static_spacer_half";}
                    <partial name="_PlayoffGraphRoundPartial" model="Model.playoffMatchesForGraph[11]" view-data="ViewData" />

                    <br />
                    <br />
                    <br />
                    <br />
                    @{ ViewData["SpacerType"] = "static_spacer_half";}
                    <partial name="_PlayoffGraphRoundPartial" model="Model.playoffMatchesForGraph[10]" view-data="ViewData" />

                </ul>
                <ul class="round round4">
                    <br />
                    <br />
                    @{ ViewData["SpacerType"] = "spacer";}
                    <partial name="_PlayoffGraphRoundPartial" model="Model.playoffMatchesForGraph[13]" view-data="ViewData" />

                    <br />
                    <br />
                    <br />
                    <br />
                    @{ ViewData["SpacerType"] = "spacer";}
                    <partial name="_PlayoffGraphRoundPartial" model="Model.playoffMatchesForGraph[16]" view-data="ViewData" />

                    <br />
                    <br />
                    <br />
                    <br />
                    @{ ViewData["SpacerType"] = "spacer";}
                    <partial name="_PlayoffGraphRoundPartial" model="Model.playoffMatchesForGraph[15]" view-data="ViewData" />

                    <br />
                    <br />
                    <br />
                    <br />
                    @{ ViewData["SpacerType"] = "spacer";}
                    <partial name="_PlayoffGraphRoundPartial" model="Model.playoffMatchesForGraph[14]" view-data="ViewData" />

                    <li class="spacer">&nbsp;</li>
                </ul>
                <ul class="round round5">
                    @{ ViewData["SpacerType"] = "spacer";}
                    <partial name="_PlayoffGraphRoundPartial" model="Model.playoffMatchesForGraph[17]" view-data="ViewData" />

                    <br />
                    <br />
                    <br />
                    <br />
                    @{ ViewData["SpacerType"] = "spacer";}
                    <partial name="_PlayoffGraphRoundPartial" model="Model.playoffMatchesForGraph[18]" view-data="ViewData" />

                    <li class="spacer">&nbsp;</li>
                </ul>
                <ul class="round round 6">
                    @{ ViewData["SpacerType"] = "spacer";}
                    <partial name="_PlayoffGraphRoundPartial" model="Model.playoffMatchesForGraph[19]" view-data="ViewData" />

                    <li class="spacer">&nbsp;</li>

                </ul>
                <ul class="round">
                    <li class="game game-top ">Lousville dgdfg dfgfggf<span>85</span></li>
                </ul>
            </main>

        </div>
    </div>

</body>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}
