@model Player
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Create Player
            </h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Wins"></label>
            <input asp-for="Wins" class="form-control" />
            <span asp-validation-for="Wins" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Losses"></label>
            <input asp-for="Losses" class="form-control" />
            <span asp-validation-for="Losses" class="text-danger"></span>
        </div>
        @*<div class="mb-3">
            <label asp-for="EnrolledToTournament"></label>
            <input asp-for="EnrolledToTournament" class="form-control" />
            <span asp-validation-for="EnrolledToTournament" class="text-danger"></span>
        </div>*@

        @*<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Enrolled To Tournament</a>
        <div class="dropdown-menu">
            <a asp-for="EnrolledToTournament" class="dropdown-item" href="#">Yes</a>
            <a asp-for="EnrolledToTournament" class="dropdown-item" href="#">No</a>
        </div>*@

        @*<div class="col-md-3">*@
        @*ViewBag.CityList is holding all the cities values*@
        @*@Html.DropDownListFor(model => model.EnrolledToTournament, ViewBag.Enrol as SelectList, new { @class = "form-control" })*@
        @*@Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })*@
        @*</div>*@

        <br />
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Player" asp-action="Index" class="btn btn-primary" style="width:150px">Back To List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
        //validation for client side if empty fields
    }
}
