@model Player
<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Edit Tournament
            </h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TournamentWins"></label>
            <input asp-for="TournamentWins" class="form-control" />
            <span asp-validation-for="TournamentWins" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="GroupWins"></label>
            <input asp-for="GroupWins" class="form-control" />
            <span asp-validation-for="GroupWins" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="EnrolledToTournament"></label>
            <input asp-for="EnrolledToTournament" class="form-control" />
            <span asp-validation-for="EnrolledToTournament" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="GroupName"></label>
            <input asp-for="GroupName" class="form-control" />
            <span asp-validation-for="GroupName" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Player" asp-action="Index" class="btn btn-primary" style="width:150px">Back To List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/> //validation for client side if empty fields
    }
}
