@model List<Match>
@{
    ViewData["Title"] = "Playoff Matches";
}
<body>
    <div class="container">
        <br />
        <br />
        <div class="container" style="width:100%">
            <div class="row pt-2">
                <div class="col-6">
                    <h2 class="text-primary">Play-offs Matches</h2>
                </div>
                <span style="color:red">
                    TODO:
                    <br />
                    - disable edit result buttin when there is no real players
                    <br />
                </span>
                <div class="col-6 text-end">
                </div>
            </div>
            @if (Model != null)
            {
                <partial name="_TablePlayoffsPlaysPartial" model="Model" />
            }
        </div>
    </div>

</body>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}
